name: Build Release

on:
  release:
    types: published

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Get tag name
      uses: olegtarasov/get-tag@v2.1.1
      id: getTag
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build -Pversion="${{ steps.getTag.outputs.tag }}"
    - name: Get Release Upload URL
      uses: actions/github-script@0.3.0
      id: getReleaseURL
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const core = require('@actions/core')
          core.setOutput("uploadurl",context.payload.release.upload_url)
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.getReleaseURL.outputs.uploadurl }} 
        asset_path: ./build/libs/ExponentialPower-${{ steps.getTag.outputs.tag }}.jar
        asset_name: ExponentialPower-${{ steps.getTag.outputs.tag }}.jar
        asset_content_type: application/java-archive